# Ignore build output
target/

# Ignore Git files
.git
.gitignore

# Ignore OS/editor junk files
*.iml
*.class
*.log
*.swp
.DS_Store

# Ignore IDE files
.idea/
.vscode/

# Ignore documentation
README.md
